
$main-text-color: #2a3631;
$title-shadow: #577066;
$main-bg-color: #ecfaf3;
$body-bg-color: #fcfefd;
$white-white: #ffffff;
$white-cream: #f5eedd;
$black-black: #000000;
$border-light: #999898;
$green-green: #226b4e;

@keyframes scrollSlider {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(calc(-50% - 10px));
	}
}

html {
    scroll-behavior: smooth;
}

body {
    //mise en forme du texte
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $body-bg-color;

    //positionnement & taille
    width: 95%;
    max-width: 1440px;
    margin: auto;

}

p {
    font-size: clamp( 14px, 1.3vw, 18px);
    color: $main-text-color;
    line-height: 1.7vw;
}

p .like_paragraf {
    display: block;
    margin: 1em 0;
}

.text-link {
    background-color: $green-green;
    color: $white-cream;
    padding: 4px 3px 0px 3px;
    border: 1px solid $border-light;
    border-radius: 1vw;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    &:hover {
        background-color: $white-cream;
        color: $green-green;
        transform: scale(1.2);
    }
}

.cta-phone {
    font-size: clamp(20px, 1.5vw, 5vw);
    font-weight: 800;
    margin-top: 3vw;
    text-align: center;
}

.cta-nowrap {
    white-space: nowrap;
}

.only-mobile, .header-logo-mobile {
    display: none;
    }    

.center {
    text-align: center;
}

h1 {
    color: $white-white;
    font-size: 2vw;
    margin: 0.2vw;
}

h2, h3, h4 {
    color: $title-shadow;
    text-shadow: 2px 2px 5px $title-shadow;
    margin: 0;
}

h4 {
    text-shadow: none;
}

h5 {
    font-size: clamp(1rem, 1.5vw, 1.4rem);
}
.main-text {
    width: 95%;
    margin: 3vw auto;
}

.text-link {
    &:hover {
        text-shadow: 2px 2px 5px $title-shadow;
    }
}

.text-subtitle {
    font-size: clamp(1.5rem, 2vw, 7rem);
    text-shadow: 2px 2px 5px $title-shadow;
    transform: scale(0.85);
}

span.divite img {
    display: block;
    width: clamp(100px, 10vw, 500px);
    height: auto;
    margin: 2% auto;
}

section {
    margin-top: 4vw;
    margin-bottom: 2vw;
    scroll-margin-top: 35px;
}

.section-title {
    font-size: clamp(1.5rem, 2vw, 7rem);
    text-align: center;
}

.section-undertitle {
    font-size: clamp(1rem, 1.2vw, 5rem);
    text-align: center;
}

a {
    text-decoration: none;
    color: $main-text-color;
    &:hover {
        text-shadow: 2px 2px 5px $title-shadow;
    }
}

.back-menu{//bouton de retour vers le haut de page
    position: fixed;
    width: 3%;
    height: 3vw;
    bottom: 20px;
    left: 88%;
    text-align: center;
    gap: .5rem;
    padding: 1rem 1rem;
    border: 2px solid;
    border-radius: 999px;
    border-color: $main-text-color;
    background: $white-cream;
    color: $main-text-color;
    font-size: 3vw;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}

header {
    padding: 20px 1vw 40px 1vw;
    background: linear-gradient(to bottom, $main-bg-color, $white-white) ;
    .logo-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a {
            img {
                width: clamp(6rem, 8vw, 9rem);
                height: auto;
            }
        }   
        .titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1 {
                font-size: clamp( 1.2rem, 2vw, 5rem );
                margin: 5px 0;
            }
            h2 {
                font-size: clamp(1.5rem, 2vw, 7rem);
                margin: 0;
            }
        }
        .details {
            font-size: clamp( 14px, 1vw, 14px);
            display: flex;
            justify-content: center;
            align-items: center;
            &::before {
                content: "";
                width: 82px;
                height: 82px;
                background-image: url("../assets/accueil_velo_icon.webp");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
            .content-details {
                display: flex;
                flex-direction: column;
                .adresse {
                text-align: center;
                }
                .phone {
                    display: flex;
                    flex-direction: row;
                    align-items:flex-end;
                    margin-bottom: 5px;
                    .phone-number {
                        font-size: clamp(15px, 1.5vw, 18px);
                        font-weight: 700;
                    }
                }
                .header-mail {
                    display: flex;
                    justify-content: center;
                    .icons {
                        width: clamp(35px, 3vw, 50px);
                        transition: 0.5s ease;
                        &:hover {
                            transform: scale(1.2);
                            color: $green-green;
                            opacity: 0.5; 
                        }
                    }
                }
            }
        }
    }
    .main-menu {
        padding-top: 2vw;
        ul.menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 1vw 0;
            margin: 0 0vw;
            font-family: Montserrat, sans-serif;
            li {
                list-style: none;
                a {
                    color: $black-black;
                    font-size: clamp( 15px, 1.2vw, 18px);
                    transition: 0.5s;
                    .icons {
                        transition: 0.5s;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                    
                }
            }
        }
    }
    .burger-menu {
        display: none;
        position: fixed;
        top: 4vw;
        right: 4.3vw;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 30px;
        height: 40px;
        padding: 0;
        background: transparent;
        border: none;
        cursor: pointer;
        transition: 0.5s ease;
        span {
            display: block;
            width: 100%;
            height: 3px;
            margin: 0;
            background-color: $black-black;
            border-radius: 5px;
        }
        &:hover {
            transform: scale(1.2);
        }
    }
}

#presentation {
    margin-top: 0;
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("/images/20260624david0273.webp");
        width: 100%;
        aspect-ratio: 2.3;
        background-size: cover;
        background-position: 50% 65%;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 30px rgba(255,255,255,1);
    }
    h2, h3 {
        text-shadow: none;
        color: $white-white;
    }
    h2 {
        font-size: clamp(14px, 3.5vw, 58px);
    }
    h3 {
        font-size: 2vw;
    }
}

#rooms {
    margin: 6vw auto;
    .section-title {
        margin-bottom: 3vw;
    }
    .room-contain {
        display: flex;
        flex-direction: column;
        .impair-room, .pair-room, .article-mobile, .only-mobile {
            display: flex;
            align-items: center;
            margin: 3vw 0 2vw 0;
            .text-room-contain {
                min-width: 40%;
                margin: 0 4vw;
                h4 {
                    text-align: center;
                    margin: 1vw 2vw;
                    font-size:clamp(1.5rem, 1.7vw, 7rem) ;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        margin: 0.4vw 0;
                        font-size: clamp( 14px, 1.2vw, 16px);
                    }
                }
                span.room-text {
                    line-height: 1.3em;
                    font-size: clamp( 14px, 1.2vw, 16px);
                }
                .room-icons {
                    display: flex;
                    justify-content: flex-start;
                    gap: 2vw;
                    width: 60%;
                    img.mini-icons {
                        width: 3.5vw;
                    }
                }
            }
            .img-room-contain {
                width: 55%;
                .img-room {
                    max-width: 100%;
                    height: auto;
                    border: 0px solid;
                    border-radius: 5vw;
                }
            }
        }
        .impair-room {
            flex-direction: row;
        }
        .pair-room {
            flex-direction: row-reverse;
            .text-room-contain {
                margin: 0 0 0 4vw;
            }
        }
    }
    .only-mobile {
        display: none;
    }
}

#extras {
    margin: 6vw auto;
    h3 {
        margin: 5vw 0 3vw 0;
    }
    .articles-wrapper {
        overflow: hidden;
	    width: 95%;
        margin: auto;
        .articles {
            display: flex;
            gap: 4vw;
            margin-bottom: 3vw;
            transition: transform 0.5s ease;
            width: max-content;
            animation: scrollSlider 20s linear infinite;
            .xtra-card {
                width: 150px;
                min-width: 150px;
                height: 220px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: calc(100% - 900px) / 5;
                border: 2px solid;
                border-radius: 5vw;
                background-color: $white-cream;
                flex-shrink: 0;
                .xtra-icon {
                    height: 100px;
                }
            h4 {
                text-align: center;
                margin: 0 20px
                }
            }
        }
    }
}

#discovering {
    margin: 6vw auto;
    #slider {
        position: relative;
        width: 80%;
        margin: 0 auto;
        transition: opacity 0.7s ease;
        .slider-image {
            display: block;
            width: 100%;
            max-width: 80vw;
            border-radius: 5vw;
        }
        .arrows {
            position: absolute;
            inset: 0;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: space-between;

            #tag-line {
                font-size: clamp(12px, 2vw, 50px);
                color: $white-white;
                font-weight: 700;
            }

            img.arrow {
                height: clamp(40px, 4vw, 120px);
                margin: 0 1vw;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

#biking {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    gap: 4vw;
    margin: auto;
    h3.section-title {
        display: flex;
	    align-items: center;
        justify-content: center;
	    gap: 12px;
        &::before {
            content: "";
            display: block;
            width: 82px;
            height: 82px;
            background-image: url("../assets/accueil_velo_icon.webp");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .biking-article {
        display: flex;
        flex-direction: row;
        gap: 3vw;
        align-items: center;
        justify-content: center;
        .slider-image {
            display: block;
            width: 70%;
            max-width: 80vw;
            border-radius: 5vw;
        }
        .main-text {
            width: 30%;
        }
    }
}

#join-us {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 6vw auto;
    align-items: center;
    .place-map {
        display: flex;
        gap: 2vw;
        iframe {
            width: 40vw;
            height: 20vw;
            border-radius: 3vw;
            transform: scale(1);
            transition: 0.5s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
        .map-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
            list-style: none;
            font-size: clamp(14px, 1.3vw, 18px);
            line-height: 20px;
            li {
                margin-bottom: 1.2vw;
                width: fit-content;
                padding: 3px 5px 0px 5px;
                &.evidence {
                    border: 2px solid red;
                    border-radius: 1em;
                }
            }
        }
    }
    .contact {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1vw 0 3vw 0;
        flex-wrap: wrap;
        .contact-card {
            width: 230px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border: 2px solid;
            border-color: $main-text-color;
            background-color: $white-cream;
            border-radius: 3vw;
            transform: scale(0.8);
            transition: 0.5s;
            .contact-icon {
            height: 100px;
            }
            h4 {
                font-size: 16px;
                text-align: center;
                margin: 0 20px;
                p {
                    font-size: clamp(12px, 1vw, 16px);
                    margin: 0;
                }
            }
            &:hover {
                opacity: 0.5;
                transform: scale(0.85);
            }
        }
    }
    .widgets-mobile {
        width: clamp(150px, 6vw, 230px);
        transition: 0.5s ease;
        a {
            display: block;
            img {
                width: 100%;
            }
        }
        &:hover {
            transform: scale(1.1);
            transition: 0.5s ease;
        }
    }
}

footer {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vw 0;
    border-top: 2px solid $main-text-color;
    color: $black-black;
    .copyright {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 2vw;
        text-align: center;
    }
    .menus-footer {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        gap: 2vw;
        .site-description,
        .main-menu-footer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: fit-content;
            max-height: 280px;
            padding: 1vw;
            .footer-left-desc {
               height: fit-content;
            }
            .logo-left {
                float: left;
                margin-right: 10px;
                margin-bottom: 0px;
                width: 80px;
            }
            a {
                font-size: clamp(10px, 0.7vw, 12px); 
            }
        }
        .main-menu-footer {
            width: clamp(150px, 15%, 350px);
            justify-content: right;
        }
        .logo-partenaires {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: clamp(150px, 60%, 600px);
            span div{
                transform: scale(0.9);
            }

            span {
                display: block;
                min-width: 20%;
                margin: 0 5px;
                .force-width {
                    justify-content: contain;
                }
                a img{
                    width: 100%;
                    height: auto;
                    transform: scale(1);
                    transition: 0.5s ease;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
    }    
    }
    h3 {
        font-size: clamp(12px, 1vw, 14px);
        text-shadow: none;
        text-align: center;
        margin: 0.5vw;
    }
    p {
        margin: 0;
        font-size: clamp(10px, 0.7vw, 12px);
        line-height: clamp(10px, 1vw, 12px);
    }
    ul {
        margin: auto;
        padding: 0;
        li {
        list-style: none;
        line-height: clamp(12px, 1vw, 24px);
        font-size: clamp(12px, 0.7vw, 15px);
        text-align: center;
        }
    }
    
}


@media (max-width: 950px) {
    #rooms {
        .impair-room, .pair-room, .only-mobile {
        flex-direction: column;
        }
    }
    p {
        line-height: 20px;
    }
    #biking {
        .biking-article {
            flex-direction: column;
            .slider-image {
                width: 100%;
            }
            .main-text {
                width: 90%;
            }
        }
    }
    #join-us {
        .place-map {
            flex-direction: column;
            margin: auto;
            iframe {
                width: 80vw;
                min-height: 200px;
            }
            .map-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 100%;
                li{
                    display: none;
                    &.evidence {
                        display: flex;
                        min-width: 225px;
                        margin: 0;
                    }
                }
            }
        }
    }
    footer{
        .menus-footer{
            display: none;
        }
    }
    .only-mobile {
        display: block;
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }

    header {
        padding: 20px;
        .details::before {
            display: none;
        }
        .logo-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
        .main-menu{
            .menu-items {
                position: fixed;
                top: 2vw;
                left: 15%;
                right: 15%;
                display: flex;
                flex-direction: column;
                visibility: 0;
                opacity: 0;
                &.displayed {
                    display: flex;
                    flex-direction: column;
                    transition: 1s ease;
                    visibility: 1;
                    opacity: 1;
                    height: auto;
                    border: 1px solid $white-cream;
                    border-radius: 3vw;
                    background-color: rgb(252, 254, 253, 0.8);
                    padding: 2vw;
                    gap: 30px;
                    z-index: 999;
                    a {
                        font-weight: 600;
                        font-size: 30px;
                    }
                }
            }
        }
        .burger-menu {
            display: flex;
            z-index: 999;
            visibility: 1;
            opacity: 1;
            transition: 1s ease;
            &.undisplayed {
                visibility: 0;
                opacity: 0;
            }
        }
    .header-logo-mobile {
        display: block;
        position: absolute;
        left: 5px;
        top: 5px;
        a img {
            width: 100px;
        }
    }
            
    }
    #rooms {
        .impair-room, .pair-room {
            display: none;
        }
        .room-contain.only-mobile {
            display: flex;
            align-items: center;
            .article-mobile {
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 100%;
                .img-room-contain {
                    position: relative;
                    width: 90%;
                    aspect-ratio: 4 / 3;
                    .img-room-mobile {
                        position: absolute;
                        border-radius: 10%;
                        top: 0;
                        left: 0;
                        width: 100%;
                        opacity: 0;
                        transition: opacity 0.8s ease;
                        pointer-events: none;
                    }
                    .img-room-mobile.active {
                        opacity: 1;
                        transition: opacity 0.8s ease;
                        pointer-events: auto;
                    }
                }
            }
        }
    }

    main {
        #presentation {
            .banner {
                height: 60vw;
                .section-title {
                    font-size: clamp(18px, 6vw, 48px);
                }
                h1, .section-undertitle {
                    font-size: clamp(14px, 3vw, 36px);
                }
            }
        }
        #extras {
            .articles-wrapper {
                .articles { 
                    display: flex;  
                    flex-wrap: wrap;
                    justify-content: center;
                    animation: scrollSlider 15s linear infinite;
                }
            }
        }
    }
}

@media (max-width: 530px) {
        
    header {
        .logo-title {
            .details {
                .phone {
                    align-items:flex-start;
                    .phone-number {
                        font-size: 30px;
                    }
                }
            }
        }
    }
    #presentation {
        margin: 0 8px;
        .main-text {
            p:first-child {
                display: none;
            }
        }
    }

    #discovering, #biking {
        display: none;
    }
    
    li:has(a[href='/index.php#biking']),
    li:has(a[href='/index.php#discovering']) {
        display: none;
    }

    #rooms {
        margin: 6vw 3vw;
        .main-text {
            margin: 0 3vw;
        }
    }
    #articles-wrapper {
        #extras {
            width: 90%;
            .articles {
                margin: auto;
                .xtra-card {
                    height: 60px;
                    width: 60px;
                    h4 {
                        display: none;
                    }
                    img.xtra-icon {
                        height: 45px;
                    }
                }
            }
        }
    }
    #join-us {
        ul.map-text {
            padding: 0;
        }
    }
}