
$main-text-color: #2a3631;
$title-shadow: #577066;
$main-bg-color: #ecfaf3;
$body-bg-color: #fcfefd;
$white-white: #ffffff;
$white-cream: #f5eedd;
$black-black: #000000;
$border-light: #999898;
html {
    scroll-behavior: smooth;
}

body {
    //mise en forme du texte
    font-family: "Special Elite", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: $body-bg-color;

    //positionnement & taille
    width: 80%;
    max-width: 1350px;
    margin: auto;

}

p {
    font-size: clamp( 14px, 1.3vw, 18px);
    color: $main-text-color;
    line-height: 1.7vw;
}

 .cta-phone {
        font-size: clamp(20px, 1.5vw, 5vw);
        font-weight: 800;
        margin-top: 3vw;
    }

h2, h3, h4 {
    color: $title-shadow;
    text-shadow: 2px 2px 5px $title-shadow;
    margin: 0;
}

span.divite img {
    display: block;
    width: clamp(100px, 10vw, 500px);
    height: auto;
    margin: 2% auto;
}

section {
    margin-top: 4vw;
    margin-bottom: 2vw;
    scroll-margin-top: 35px;
}

.section-title {
    font-size: clamp(1.5rem, 2vw, 7rem);
    text-align: center;
}

.section-undertitle {
    font-size: clamp(1rem, 1.2vw, 5rem);
    text-align: center;
}

a {
    text-decoration: none;
    color: $main-text-color;
}

.back-menu{//bouton de retour vers le haut de page
    position: fixed;
    width: 3%;
    height: 3vw;
    bottom: 20px;
    left: 88%;
    text-align: center;
    gap: .5rem;
    padding: 1rem 1rem;
    border: 2px solid;
    border-radius: 999px;
    border-color: $main-text-color;
    background: $white-cream;
    color: $main-text-color;
    font-size: 3vw;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
        transform: scale(1.1);
    }
}

header {
    padding: 20px 1vw 40px 1vw;
    background: linear-gradient(to bottom, $main-bg-color, $white-white) ;
    .logo-title {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        a img{
            width: clamp(6rem, 8vw, 9rem);
            height: auto;
        }
        .titles {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            h1 {
                font-size: clamp( 1.2rem, 2vw, 5rem );
                margin: 5px 0;
            }
            h2 {
                font-size: clamp(1.5rem, 2vw, 7rem);
                margin: 0;
            }
        }
        .details {
            font-size: clamp( 12px, 1vw, 14px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            .adresse {
            text-align: center;
            }
            .phone {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 5px;
                .phone-number {
                    font-size: clamp(13px, 1.2vw, 16px);
                }
            }
        }
    }
    .main-menu {
        padding-top: 2vw;
        ul.menu-items {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            padding: 1vw 0;
            margin: 0 0vw;
            font-family: Montserrat, sans-serif;
            li {
                list-style: none;
                a {
                    color: $black-black;
                    font-size: clamp( 13px, 1.2vw, 18px);
                    transition: 0.5s;
                    &:hover {
                        text-shadow: 2px 2px 5px $title-shadow;
                    }
                    .icons {
                        transition: 0.5s;
                        &:hover {
                            opacity: 0.5;
                        }
                    }
                    
                }
            }
            li.display-mobile {
                display: none;
            }
        }
    }
}

#presentation {
    .banner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url("/images/20240508_vue_drone.webp");
        width: 100%;
        height: 500px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 30px 30px rgba(255,255,255,1);
    }
    margin-top: 3rem;
    h2, h3 {
        text-shadow: none;
        color: $white-white;
    }
    h2 {
        font-size: clamp(14px, 3.5vw, 24px);
    }
    h3 {
        font-size: 2vw;
    }
    .main-text {
        width: 90%;
        margin: 3vw auto;
    }
}

#rooms {
    margin: 6vw auto;
    .section-title {
        margin-bottom: 3vw;
    }
    .room-contain {
        display: flex;
        flex-direction: column;
        .impair-room, .pair-room, .only-mobile {
            display: flex;
            align-items: center;
            margin: 3vw 0 2vw 0;
            .text-room-contain {
                min-width: 40%;
                padding: 0 1vw;
                h4 {
                    text-align: center;
                    margin: 1vw 2vw;
                    font-size:clamp(1.5rem, 1.7vw, 7rem) ;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    li {
                        margin: 0.4vw 0;
                        font-size: clamp( 14px, 1.2vw, 16px);
                    }
                }
                .room-text {
                    line-height: 1.3em;
                    font-size: clamp( 14px, 1.2vw, 16px);
                }
            }
            .img-room-contain {
                max-width: 60%;
                .img-room {
                    max-width: 100%;
                    height: auto;
                    border: 0px solid;
                    border-radius: 5vw;
                }
            }
        }
        .impair-room {
            flex-direction: row;
        }
        .pair-room {
            flex-direction: row-reverse;
        }
    }
.only-mobile {
    display: none;
    }    
}

#extras {
    width: 60%;
    margin: 6vw auto;
    h3 {
        margin: 5vw 0 3vw 0;
    }
    .articles {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2vw;
        margin-bottom: 3vw;
        .xtra-card {
            width: 150px;
            height: 220px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 30px;
            border: 2px solid;
            border-radius: 5vw;
            background-color: $white-cream;
            .xtra-icon {
                height: 100px;
            }
        h4 {
            font-size: 16px;
            text-align: center;
            margin: 0 20px
            }
        }
    }
}

#discovering {
    margin: 6vw auto;
    .main-text {
        width: 90%;
        margin: auto;
    }
    #slider {
        width: 100%;
        position: relative;
        left:50%;
        transform: translateX(-40%);
        transition: opacity 0.7s ease;
        .arrows {
            position: absolute;
            width: 80%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            bottom: 50%; transform: translateY(40%);
            #tag-line {
                font-size: clamp(12px, 2vw, 50px);
                color: $white-white;
                font-weight: 700;
            }
            img.arrow {
                height: clamp(40px, 4vw, 120px);
                margin: 0 1vw;
                
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .slider-image {
            width: 80%;
            border-radius: 5vw;
            background-color: #000000;
        }
    }
}

#join-us {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 6vw auto;
    align-items: center;
    .place-map {
        display: flex;
        gap: 2vw;
        iframe {
            width: 40vw;
            height: 20vw;
            border-radius: 3vw;
        }
        .map-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
            list-style: none;
            font-size: clamp(14px, 1.3vw, 18px);
            line-height: 20px;
            li {
                margin-bottom: 1.2vw;
            }
        }
    }
    .contact {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        margin: 1vw 0 3vw 0;
        flex-wrap: wrap;
        .contact-card {
            width: 230px;
            height: 180px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;
            border: 2px solid;
            border-color: $main-text-color;
            background-color: $white-cream;
            border-radius: 3vw;
            transform: scale(0.8);
            transition: 0.5s;
            .contact-icon {
            height: 100px;
            }
            h4 {
                font-size: 16px;
                text-align: center;
                margin: 0 20px;
                p {
                    font-size: clamp(12px, 1vw, 16px);
                    margin: 0;
                }
            }
            &:hover {
                opacity: 0.5;
                transform: scale(0.85);
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    .copyright {
        text-align: center;
    }
}


@media (max-width: 950px) {
    #rooms {
        .impair-room, .pair-room, .only-mobile {
        flex-direction: column;
        }
    }
    p {
        line-height: 20px;
    }
    #join-us {
        .place-map {
            flex-direction: column;
            align-items: center;
            iframe {
                width: 90%;
                min-height: 200px;
            }
            .map-text {
                max-width: 90%;
            }
        }
    }
}

@media (max-width: 768px) {
    body {
        width: 100%;
    }

    header {
        padding: 20px;
        .logo-title{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
        }
        .main-menu {
            margin-top: 2em;
            ul.menu-items {
                display: flex;
                flex-wrap: wrap; /*retour à la ligne */
                gap: 10px;
                li {
                    flex: 1 1 200px;
                    text-align: center;
                    border: 0.5px solid $border-light;
                    border-radius: 25px;
                    max-width: 200px;
                }
                li.display-mobile {
                    display: inline;
                }
                li.display-laptop {
                    display: none;

                }
            }
        }
    }
    #rooms {
        .impair-room, .pair-room {
            display: none;
        }
        .only-mobile {
            display: flex;
        }
    }

    main {
        #presentation {
            .banner {
                height: 60vw;
                .section-title {
                    font-size: clamp(18px, 6vw, 48px);
                }
                .section-undertitle {
                    font-size: clamp(14px, 3vw, 36px);
                }
            }
        }
    }

    @media (max-width: 530px) {
        #discovering, #biking {
            display: none;
        }
        li:has(a[href="#discovering"]),
        li:has(a[href="#biking"]){
            display: none;
        }
        #extras {
            width: 90%;
            .articles .xtra-card {
            height: 60px;
            width: 60px;
            h4 {
                display: none;
                }
            img.xtra-icon {
                height: 45px;
                }
            }
        }
        #join-us {
            ul.map-text {
                padding: 0;
            }
        } 
    }
}
